@use "../../styles/variables.scss";

.root {
  background-color: var(--quaternary-darker);
}

.root nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.root nav a {
  display: flex;
  flex-direction: row;
  font-size: var(--bigFontSize);
  height: calc(var(--vRhythm) * 4);
  line-height: var(--bigLineHeight);
  text-decoration: none;
  transition:
    background-color var(--baseAnimationRate),
    color var(--baseAnimationRate);
  padding: calc(calc(calc(var(--vRhythm) * 3) - var(--bigLineHeight)) / 2) 0;
}

.root nav a,
.root nav a:visited {
  color: var(--light);
}

.root nav a:hover {
  background-color: var(--quaternary);
  text-decoration: underline;
}

.root nav a.selected {
  text-decoration: underline;
  background-color: var(--quaternary);
}

.root nav span.label {
  display: block;
  padding: calc(var(--vRhythm) / 2) var(--gutter);
}

.root nav span.icon {
  display: none;
}

@media screen and (max-width: variables.$CSS_BREAKPOINT_END_S) {
  .root nav {
    width: 100%;
  }
  .root nav a {
    height: calc(var(--vRhythm) * 2);
    line-height: var(--mediumLineHeight);
    border-top: var(--border) dotted var(--quaternary);
    padding: 0;
  }
}
@media screen and (min-width: variables.$CSS_BREAKPOINT_START_M) and (max-width: variables.$CSS_BREAKPOINT_END_M) {
  .root nav {
    width: calc(calc(var(--block) * 2) + calc(var(--gutter) * 3));
  }
  .root nav a {
    height: calc(var(--vRhythm) * 2);
    line-height: var(--mediumLineHeight);
    border-top: var(--border) dotted var(--quaternary);
    padding: 0;
  }
}

@media screen and (min-width: variables.$CSS_BREAKPOINT_START_L) {
  .root nav {
    flex-direction: row;
    width: calc(calc(var(--block) * 3) + calc(var(--gutter) * 4));
  }
}

@media screen and (min-width: variables.$CSS_BREAKPOINT_START_XL) {
  .root nav {
    width: calc(calc(var(--block) * 4) + calc(var(--gutter) * 5));
  }
}

@media print {
  .root {
    display: none;
  }
}
