.root {
  font-family: var(--writingFont);
  font-size: var(--bigFontSize);
  line-height: var(--bigLineHeight);
  margin: var(--vRhythm) 0;
  padding: 0 0 0 var(--gutter);
  border-left: var(--border) solid var(--primary-darker);
  overflow-wrap: break-word;
}
