@use "./variables.scss";

/* Google Fonts: Here to be included in both Storybook and the app */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300;1,400;1,700&display=swap");

:root {
  /* Colors */
  /* See https://coolors.co/eff1ed-97ad5c-65743a-465129-33658a-a41623-f85e00 */
  --darker: #36383d;
  --dark: #4d5057;
  --grey: #b3b3b4;
  --lightgrey: #e6e6e6;
  --light: #fefeff;

  --primary: #a6cc1d;
  --primary-darker: #759014;
  --primary-lighter: #c0db60;
  --secondary: #f9564f;
  --secondary-darker: #b03d38;
  --secondary-lighter: #fb8883;
  --tertiary: #eee21e;
  --tertiary-darker: #a8a015;
  --tertiary-lighter: #f3eb60;
  --quaternary: #06aed5;
  --quaternary-darker: #047b96;
  --quaternary-lighter: #50c6e2;
  --quinary: #03B5AA;
  --senary: #1B998B;

  --success: #a6cc1d;
  --warning: #f9564f;
  --danger: #b03d38;

  /* Atomic values */
  --hGrid: #{variables.$CSS_GRID_H};
  --gutterRatio: #{variables.$CSS_GUTTER_RATIO};
  --gutter: calc(var(--hGrid) * var(--gutterRatio));
  --columnRatio: #{variables.$CSS_COLUMN_RATIO};
  --column: calc(var(--hGrid) * var(--columnRatio));
  --block: calc(var(--column) * 3 + var(--gutter) * 2);
  --vGrid: #{variables.$CSS_GRID_V};
  --vRhythmRatio: #{variables.$CSS_V_RHYTHM_RATIO};
  --vRhythm: calc(var(--vGrid) * var(--vRhythmRatio));
  --border: calc(var(--vGrid) / 2);
  --borderRadius: calc(var(--hGrid));
  --shadowX: calc(var(--vGrid) * 2);
  --shadowY: calc(var(--hGrid) * 1);
  --shadowBlur: calc(var(--vGrid) * 8);

  /* Animations */
  --baseAnimationRate: 0.3s;

  /* Fonts */
  --writingFont: "Arial", sans-serif;
  --contentFont: "Arial", sans-serif;
  --headingFont: "Arial", sans-serif;

  /* Font sizes */
  --smallFontSize: calc(5 * var(--vGrid));
  --smallLineHeight: calc(8 * var(--vGrid));
  --smallFontWeight: 300;

  --mediumFontSize: calc(6 * var(--vGrid));
  --mediumLineHeight: calc(8 * var(--vGrid));
  --mediumFontWeight: 400;

  --bigFontSize: calc(8 * var(--vGrid));
  --bigLineHeight: calc(12 * var(--vGrid));
  --bigFontWeight: 700;

  --greatFontSize: calc(10 * var(--vGrid));
  --greatLineHeight: calc(16 * var(--vGrid));
  --greatFontWeight: 800;

  --giantFontSize: calc(12 * var(--vGrid));
  --giantLineHeight: calc(16 * var(--vGrid));
  --giantFontWeight: 800;
}

html,
body,
#__next {
  height: 100%;
  font-size: var(--mediumFontSize);
  line-height: var(--mediumLineHeight);
  font-family: var(--contentFont);
  background-color: var(--lightgrey);
  color: var(--darker);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body.showScreenSizes::after {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  line-height: var(--giantLineHeight);
  font-size: var(--giantFontSize);
  font-weight: bold;
  color: var(--dark);
  text-shadow: var(--border) var(--border) 0 var(--light);
  opacity: 0.5;
  padding: calc(var(--vRhythm) / 2) var(--gutter);
}

@media screen and (max-width: variables.$CSS_BREAKPOINT_END_S) {
  body.showScreenSizes::after {
    content: "S";
  }
}

@media screen and (min-width: variables.$CSS_BREAKPOINT_START_M) and (max-width: variables.$CSS_BREAKPOINT_END_M) {
  body.showScreenSizes::after {
    content: "M";
  }
}

@media screen and (min-width: variables.$CSS_BREAKPOINT_START_L) and (max-width: variables.$CSS_BREAKPOINT_END_L) {
  body.showScreenSizes::after {
    content: "L";
  }
}

@media screen and (min-width: variables.$CSS_BREAKPOINT_START_XL) {
  body.showScreenSizes::after {
    content: "XL";
  }
}
